html, body {
	height: 100%;
}
body { background-color: #F9F9F9; color: #333; }
body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;	
	font-size: 14px;
}
a { color: #000;}
a:visited { color: #666; }
#notice {
  color: green;
}
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}
body {
	padding: 0;
	margin: 0;
	background: #FFF;
}
#header {
	color: #DDD;
	border-bottom: 3px solid #333;
}
#header a {
	color: #FFF;
	text-decoration: none;
	font-size: 20px;
}
#header a:hover {
	color: #EDEDED;
}

#header h1 {
	font-family: 'Chewy', arial, serif;
}

.profile_pic
{
	position: relative;
	top:17px;
}

#error_explanation {
  width: 100%;  
  padding: 7px;
  padding-right: 21px;
  margin: -14px;
  margin-bottom: 10px;
  background-color: #FFE573;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
