.bundle
db/*.sqlite3
log/*.log
tmp/**/*
config/database.yml
config/environments/development.rb
config/environments/production.rb
config/environments/test.rb
config/application.yml
config/fgraph.yml
config/deploy.rb
.config.ru
vendor/cache
tmp/restart.txt
tmp/jokels-backup.sql
config/initializers/airbrake.rb
