.bundle
db/*.sqlite3
log/*.log
tmp/**/*
config/database.yml
config/application.yml
config/fgraph.yml
config/deploy.rb
.config.ru
vendor/cache
tmp/restart.txt
tmp/jokels-backup.sql
config/initializers/airbrake.rb
script/rails.yml
.DS_Store
public/.DS_Store
