* {
	margin: 0;
}
html, body {
	height: 100%;
}

body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

body {
	padding: 0;
	margin: 0;
	background: #FFF;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -100px; 
}
#footer, .push {
	height: 97px;
}

#header {
	padding-top: 10px;
	background-color: #777;
	color: #FFF;
	line-height: 40pt;
	border-bottom: 3px solid #333;
	
}
#header .left {
	padding-left: 10%;
	display: inline-block;
	width: 50%;
}
#header .right {
	padding-right: 10%;
	display: inline-block;
	float: right;
}
#header a {
	color: #FFF;
	text-decoration: none;
}

#header h1 {
	font-family: 'Chewy', arial, serif;
	font-size: 48pt;
}

#main {
	padding-left: 10%;
	padding-right: 10%;
}

#main .joke {
	padding-top: 0px;
}
#main .joke p {
	width: 100%;
	margin: 0;
	background: #EFEFEF;
	text-align: center;
	font-size: 24pt;
	line-height: 28pt;
	padding-top: 5px;
	padding-bottom: 5px;
}
#main .joke p#click-for-punchline, #main .joke p#refresh-joke {
	background: #EFEFEF;
	font-size: 10pt;
	line-height: 10pt;
	cursor: pointer;
}
#main .joke p#click-for-punchline:hover, #main .joke p#refresh-joke:hover, #main .joke p#refresh-joke a:hover  {
	background: #DFDFDF;
}

#main .joke p.question {
	background: #DD99AA;
	cursor: pointer;
}

#main .joke p.answer {
	background: #FFDDDD;
	display:none;
}

#main .joke p#refresh-joke {
	display:none;
	padding: 0;
}

#main .joke p#refresh-joke a {
	display:block;
	padding-top: 5px;
	padding-bottom: 5px;
	text-decoration: none;
}
#main .joke p#refresh-joke a:hover {
	color: #333;
}

#footer {
	border-top: 3px solid #333;
	background-color: #000;
	color: #CCC;
	padding-left: 10%;
	padding-right: 10%;
}
#footer a {
	color: #CCC;
}

.field input {
	width: 100%;
}
