/*
	Icon credits: 
	Silk Icons - http://www.famfamfam.com/lab/icons/silk/
	Silk Evolved - http://code.google.com/p/famfamfam/
	Fugue Icons - http://p.yusukekamiyamane.com/
*/
* {
	margin: 0;
}
html, body {
	height: 100%;
}

body { background-color: #fff; color: #333; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; text-decoration: none}
a:visited { color: #666; }
a:hover { text-decoration: underline;}

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 100%;  
  padding: 7px;
  padding-right: 21px;
  margin: -14px;
  margin-bottom: 10px;
  background-color: #FFE573;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

body {
	padding: 0;
	margin: 0;
	background: #FFF;
}

/* bottom footer stuff */
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -45px; 
}
#footer, .push {
	height: 42px;
	clear:both;
	margin-top: 5px;
}

#header {
	padding-top: 10px;
	background-color: #777;
	color: #DDD;
	border-bottom: 3px solid #333;
	height: 80px;
	
}
#header .left {
	padding-left: 10%;
	display: inline-block;
}
#header .right {
	padding-right: 10%;
	display: inline-block;
	float: right;
	text-align: right;
}
#header a {
	color: #FFF;
	text-decoration: none;
}
#header a:hover {
	color: #EDEDED;
}

#header h1 {
	font-family: 'Chewy', arial, serif;
	font-size: 48pt;
	line-height: 40pt;
}

#main {
	padding-left: 10%;
	padding-right: 10%;
}

#footer {
	border-top: 3px solid #333;
	background-color: #000;
	color: #DDD;
	padding-left: 10%;
	padding-right: 10%;
}
#footer a {
	color: #FFF;
}
#footer .left {
	float: left;
}
#footer .right {
	float: right;
}
#footer .left img {
	vertical-align: middle;
}

#jokes-list {
	padding-top: 10px;
	padding-bottom: 10px;
}
#jokes-list h2 {
	padding-bottom: 10px;
}
#jokes-list ul, #user ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
#notice {
	background: #447700;
	color: #FFF;
	text-align: center;
}
#user h2 {
	padding-top: 5px;
	padding-bottom: 5px;
}

#user-info {
	background: #EFEFEF;
	padding: 10px;
}

#user-info img {
	vertical-align: top;
}

.field input {
	width: 100%;
}

#joke_auto_post {
	width: 20px;
}

#joke_is_kid_safe{
	width: 20px;
}

#alternate_punchline_is_kid_safe{
	width: 20px;
}

#why {
	display:none;
}
.add-joke-button {
	background: url(add.png) no-repeat scroll transparent 0 60%;
	padding-left: 18px;
	padding-top: 1px;
	padding-bottom: 2px;
}
.votes {
	display: inline-block;
}
#share-site {
	margin-top: 10px;
}
#share-site span {
	height: 26px;
	display: block;
	float: left;
}
#share-site .share {
	display: block;
}

.arrow, .fork, .phone {
	vertical-align: middle;
	cursor: pointer;
}

.vote-total {
	display: inline-block;
}

#leaderboard .selected {
	font-weight: bold;
}

.joke-list-item {
	line-height: 100%;
	margin: 0;
}


.joke-list-item a {
	color: #000;
	width: 100%;
	display:block;
	padding: 8px;
}
.joke-list-item a:hover {
		background-color: #EFEFEF;
}

.joke-list-item a:hover {
	text-decoration: none;
}

#joke-list-0 {
	font-size: 24pt;
	margin-top: 5px;
}

#joke-list-1 {
	font-size: 20pt;
}

#joke-list-2 {
	font-size: 18pt;
}
#joke-list-3 {
	font-size: 16pt;

}
#joke-list-4 {
	font-size: 14pt;
}

#loading {
	display:none;
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 5px;
	background: url(ajax-loader.gif) no-repeat scroll #EFEFEF 5% 60%;
}

.star {
	text-indent: -5000px;
	display: inline-block;
	width: 16px; 
	height: 16px; 
	background: url(not_favorited.png) no-repeat;
	background-color: transparent;
}

.star.favorited, .star:hover {
	background: url(favorited.png) no-repeat;
}

.fork {
	display: inline-block;
	padding-left: 20px;
	height: 16px;
	background: url(arrow_divide_down_faded.png) no-repeat;
}
.fork:hover {
	background: url(arrow_divide_down.png) no-repeat;
}

.disclaimer {
	font-size: 8pt;
}

.actions, .sharing {
	margin-top:5px;
	padding-left: 10px;
	display: inline-block;
}
/* permalink styling */
.ui-tooltip-content div {
	padding-bottom: 3px;
	padding-top: 3px;
}
.ui-tooltip-content input {
	width: 150px;
}

.column {
	width: 47%;
}

.column.left {
	float: left;
}

.column.right {
	float: right;
}

.ui-tooltip-content input.short-url {
	width: 128px;
}

.ui-tooltip-content a {
	color: #FFF;
}

.qrcode {
	vertical-align: middle;
	background-color: #FFF;
}
#joke-container {
	padding-top: 5px;
	padding-left: 60px;
	padding-right: 60px;
}

#joke-container .avatar-left {
	margin-left: -60px;
	display: inline-block;
	float:left;
}

#joke-container .avatar-right {
	margin-right: -60px;
	margin-top: -6px;
	display: inline-block;
	float:right;
	/* mirror the image horizontally */
	-moz-transform: scale(-1,1);
	-webkit-transform: scale(-1,1);
	transform: scale(-1,1);
}
#joke-container #answer-avatar {
	display:none;
}
.bubble, .bubble-fork {
	width: 9px;
	height: 12px;
	background: url('bubble-arrow-question.png') no-repeat;
	display: inline-block;
	float:left;
	margin-left: -9px;
	margin-top: 18px;
}

.bubble.bubble-fork {
	background: url('bubble-arrow-fork1.png') no-repeat;
}
.bubble-right.bubble-fork {
	background: url('bubble-arrow-fork.png') no-repeat;	
}

.bubble-right{
	float:right;
	margin-right: -8px;
	margin-top: 13px;
}

.bubble-fork.bubble
{
	margin-top: 13px;
}

.bubble-answer{
	background: url('bubble-arrow-answer.png') no-repeat;
}

.avatar-anon {
	background: #9C9;
}


.fork-avatar {
	margin-top: -6px;
}

.avatar-anon-fork {
	background: #BCA;
}
.share-bar-right {
	float:right;
	margin-right:10px;
	margin-top:2px;
}

.sidebar {
	float: left;
	width: 35%;
}

.main_bar {
	float: right;
	width: 60%;
}

.avatar_qtip {
	float: right;
	display: block;
	margin: 0px 0px 0px 5px;
}

.user_qtip .avatar_qtip {
	position: relative; 
	top:10px;
}

div.joke_qtip{
	line-height: 1.1;
	font-size: 85%;
	width: 210px;
	display: block;
}

.tip_image{
	position: relative; 
	top:2px;
}

div.user_qtip{
	line-height: 1.1;
	font-size: 85%;
	width: 200px;
	display: block;
}

div.user_qtip_no_avatar{
	text-align: center;
	font-size: 90%;
}