* {
	margin: 0;
}
html, body {
	height: 100%;
}

body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; text-decoration: none}
a:visited { color: #666; }
a:hover { text-decoration: underline;}

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

body {
	padding: 0;
	margin: 0;
	background: #FFF;
}

/* bottom footer stuff */
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -45px; 
}
#footer, .push {
	height: 42px;
	clear:both;
	margin-top: 5px;
}

#header {
	padding-top: 10px;
	background-color: #777;
	color: #DDD;
	border-bottom: 3px solid #333;
	height: 80px;
	
}
#header .left {
	padding-left: 10%;
	display: inline-block;
}
#header .right {
	padding-right: 10%;
	display: inline-block;
	float: right;
	text-align: right;
}
#header a {
	color: #FFF;
	text-decoration: none;
}
#header a:hover {
	color: #EDEDED;
}

#header h1 {
	font-family: 'Chewy', arial, serif;
	font-size: 48pt;
	line-height: 40pt;
}

#main {
	padding-left: 10%;
	padding-right: 10%;
}

#main .joke {
	padding-top: 0px;
}
#main .joke p {
	width: 100%;
	margin: 0;
	background: #EFEFEF;
	text-align: center;
	font-size: 24pt;
	line-height: 28pt;
	padding-top: 5px;
	padding-bottom: 5px;
}
#main .joke p#click-for-punchline, #main .joke p#refresh-joke {
	background: #EFEFEF;
	font-size: 10pt;
	line-height: 10pt;
	cursor: pointer;
}
#main .joke p#click-for-punchline:hover, #main .joke p#refresh-joke:hover, #main .joke p#refresh-joke a:hover  {
	background: #DFDFDF;
}

#main .joke p.question {
	/*background: #DD99AA;*/
	background: #99CC99;
	cursor: pointer;
}

#main .joke p.answer {
	/*background: #FFDDDD;*/
	background: #BBDDBB;
	display:none;
}
#main .joke p#share {
	display: none;
	border-top: 3px solid #333;
	background: #777;
	font-size: 10pt;
	text-align: left;
	color: #DDD;
	line-height: 10pt;
	vertical-align: middle;
}
#main .joke p#share span.left {
	margin-left: 10px;	
}

#main .joke p#share span.right {
	float: right;
	margin-right: 10px;
}

#main .joke p#share a {
	color: #FFF;
}

#main .joke p#share iframe { 
	vertical-align:middle; 
	padding-bottom: 2px; 
}
#main .joke p#share iframe.twitter-share-button {
	padding-bottom: 3px;
}
#main div#joke.joke p#share span.right img {
	vertical-align: middle;
}

#main .joke p#refresh-joke {
	display:none;
	padding: 0;
}

#main .joke p#refresh-joke a {
	display:block;
	padding-top: 5px;
	padding-bottom: 5px;
	text-decoration: none;
}
#main .joke p#refresh-joke a:hover {
	color: #333;
}

#footer {
	border-top: 3px solid #333;
	background-color: #000;
	color: #DDD;
	padding-left: 10%;
	padding-right: 10%;
}
#footer a {
	color: #FFF;
}
#footer .left {
	float: left;
}
#footer .right {
	float: right;
}

#jokes-list {
	padding-top: 10px;
	padding-bottom: 10px;
}
#jokes-list h2 {
	padding-bottom: 10px;
}
#jokes-list ul, #user ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
#notice {
	background: #447700;
	color: #FFF;
	text-align: center;
}
#user h2 {
	padding-top: 5px;
	padding-bottom: 5px;
}

#user-info {
	background: #EFEFEF;
	padding: 10px;
}

#user-info img {
	vertical-align: top;
}

.field input {
	width: 100%;
}

#joke_auto_tweet {
	width: 20px;
}

#why {
	display:none;
}
.add-joke-button {
	background: url(add.png) no-repeat scroll transparent 0 60%;
	padding-left: 18px;
	padding-top: 1px;
	padding-bottom: 2px;
}
#votes {
	display: inline-block;
}
#share-site {
	margin-top: 10px;
}
#share-site span {
	height: 26px;
	display: block;
	float: left;
}
#share-site .share {
	display: block;
}

.arrow {
	vertical-align: middle;
	cursor: pointer;
}
/* hide the 'alt text' */
.thumb_up span, .thumb_down span {
	display:none;
}

.thumb_up, .thumb_down, #vote-total {
	display: inline-block;
}

#leaderboard .selected {
	font-weight: bold;
}

.joke-list-item {
	line-height: 100%;
	margin: 0;
}


.joke-list-item a {
	color: #000;
	width: 100%;
	display:block;
	padding: 8px;
}
.joke-list-item a:hover {
		background-color: #EFEFEF;
}

.joke-list-item a:hover {
	text-decoration: none;
}

#joke-list-0 {
	font-size: 24pt;
	margin-top: 5px;
}

#joke-list-1 {
	font-size: 20pt;
}

#joke-list-2 {
	font-size: 18pt;
}
#joke-list-3 {
	font-size: 16pt;

}
#joke-list-4 {
	font-size: 14pt;
}

#loading {
	display:none;
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 5px;
	background: url(ajax-loader.gif) no-repeat scroll #EFEFEF 5% 60%;
}

.star {
	text-indent: -5000px;
	display: inline-block;
	width: 16px; 
	height: 16px; 
	background: url(not_favorited.png) no-repeat;
	background-color: transparent;
}

.star.favorited {
	background: url(favorited.png) no-repeat;
}

/* permalink styling */
.ui-tooltip-content div {
	padding-bottom: 3px;
	padding-top: 3px;
}
.ui-tooltip-content input {
	width: 150px;
}

.column {
	width: 47%;
}

.column.left {
	float: left;
}

.column.right {
	float: right;
}
.qrcode {
	vertical-align: middle;
}