<h2><%= user.user_name %>'s jokes</h2>
<% if user.jokes_count > 0 %>
  <ul>
    <% jokes.each do |joke| %>
      <li>
        <%= render :partial => "shared/joke_link", :locals => {:joke => joke} %>
        <% if user == current_user %>
          [<%= link_to "Edit", edit_joke_path(joke), :method => :get, data: {toggle: "modal", remote: true, target: "#add-joke"}%>]
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p><%= user.user_name %> doesn't have any jokes.</p>
<% end %>
