<div data-role="collapsible" data-content-theme="c" data-iconpos="right" data-collapsed="false">
   <h3>Jokel <% if joke.user %> by <%= user_name(joke.user) %><% end %></h3>
   <p><%= joke.question %></p>
   <div data-role="collapsible" data-collapsed="true" data-content-theme="d" data-iconpos="right">
	<h3>Punchline!</h3>
	<p><%= joke.answer %></p>
   </div>
   <a href="/" data-role="button" data-ajax="false">Random Joke</a>
</div>