<% if current_user %>
  <% up_img = "arrow_up_faded.png"%>
  <% if current_user.up_voted?(joke) %>
    <% up_img = "arrow_up.png"%>
  <% end %>
  <%= link_to image_tag(up_img, :class=>"arrow", :id => "up_arrow"), upvote_joke_path(joke), :method => :get, :remote => true, :title => "Vote up" %>
<% else %>
  <%= image_tag("arrow_up_faded.png", :class=>"arrow", :id => "up_arrow") %>
<% end %>

  <span id="vote_total" title="Total votes"><%= joke.votes %></span>
  <%= link_to image_tag("arrow_down_faded.png", :class=>"arrow", :id => "down_arrow"), downvote_joke_path(joke), :method => :get, :remote => true, :title => "Vote down" %>
