<div id="joke" class="joke">
  <%= render :partial => "joke", :locals => {:joke => @joke, :refresh => false, :min => false, :sequence => false} %>
</div>
<script>
	$(document).ready(function(){
		enableKiosk(<%= @delayTime %>);
	});
	setTimeout("kioskModeStart();", 10000);
</script>