<div id="jokes-list">
<h2>All joke tags</h2>
<ol data-role="listview" data-theme="c">
    <% @tags.each do |tag| %>
      <li><a href="/tags/<%=tag.name%>"><%= tag.name %> (<%= tag.count %>)</a></li>
    <% end %>
  </ol>
</div>
