/*
*= require_directory ../../../vendor/assets/stylesheets/.
*= require_self
*= require_directory .
*/

/* override the bootstrap font locations */
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/assets/glyphicons-halflings-regular.eot');
  src: url('/assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/assets/glyphicons-halflings-regular.woff') format('woff'), url('/assets/glyphicons-halflings-regular.ttf') format('truetype'), url('/assets/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

#jokels-title {
  font-family: 'Chewy',arial,serif;
  font-size: 42pt;
}

#user-dropdown {
  padding-top: 5px;
  padding-bottom: 5px;
}

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

#footer {
  height: 60px;
  background-color: #f5f5f5;
}

#footer .text-muted {
  padding-top: 10px;
}
