<%= form_tag(save_tags_joke_path, :method => "post", :id=>"tag_form") do %>  
  <div class="field">
    <label for="tags">Tag it up!</label>
    <input id="tags_input" name="tags" value="<%=@joke.tag_list %>"/>
  </div>
  <div class="actions">
    <input type="submit" value="Tag it!" %>
  </div>
<% end %>