<%= stylesheet_link_tag "styles.joke" %>
<%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js","application.joke"%>

<div id="joke" class="joke joke-embed">
  <%= render :partial => "home/joke", :locals => {:joke => @joke, :refresh => false, :min => true, :sequence => false}%>
</div>
