document.write('<%= escape_javascript(stylesheet_link_tag "styles.joke") %>');
document.write('<%= escape_javascript(javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js","application.joke") %>');
document.write('<div id="joke" class="joke joke-embed">');
document.write('<%= escape_javascript(render :partial => "home/joke", :locals => {:joke => @joke, :refresh => false, :min => true, :sequence => false}) %>');
document.write('</div>');
